@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  font-family: "Inter", Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  background-color: white;
  color: #474747;

  --background-dark: #111111;
  --foreground-dark: #eeeeee;
}

* {
  font-family: "Inter";
}

.mono {
  font-family: "Atkinson Hyperlegible Mono";
}

@theme {
  --color-primary: #474747;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeInAnimation 0.2s ease-in-out forwards;
}

.delay-1 {
  animation-delay: 0.2s;
}
.delay-2 {
  animation-delay: 0.5s;
}
.delay-3 {
  animation-delay: 1s;
}
.delay-4 {
  animation-delay: 2s;
}

button:hover {
  cursor: pointer;
  box-shadow: 2px solid gray;
}
